.aside-main-box {
	display: grid;
	grid-template-columns: 240px 1fr;
}

main {
	background: #313348;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	margin: 20px;
	border-radius: 10px;
}

.funds-card-colored{
    padding: 20px;
    overflow: auto;
    width: 60%;
  
  }
  
  .funds-card-colored > h3 {
      margin-top: 0px;
      font-weight: 700;
      margin-bottom: 20px;
  }
  
  .member-table {
      padding: 0px;
      display: grid;
      grid-template-columns: 1fr 3fr;
      border: 1px solid #c0c0c0;
  }
  

  .member-table div:nth-child(2) {
	  text-align: left;
  }
  
  .funds-table-header{
      background-color: #f1f1f1;
      font-weight: 700;
  }
  
  .table-data{
      background-color: white;
      height : 45px;
  }
  
  .funds-table-header, .table-data{
      padding: 10px;
  }
  
  .btn-edit, .btn-back, .btn-modify{
      color: #000000f3;
      background-color: grey;
      font-weight: 700;
      margin-top: 20px;
  }
  
  .btn-edit:hover{
      background-color: #8d90b4;
  }
  
  .row-break{
      margin-top:  20px;
      margin-bottom: 20px;
      height: 5px;
  }